.default {
    --bg-color: #183147;
    --color-1: #F4DDB4;
    --color-2: #E7A069;
    --color-3: #246F8E;
    --color-4: #183147;
    --color-5: #FF6D02;
    --color-6: #E06D25;
}

.kids {
    --bg-color: #25708F;
    --color-1: #F4DDB4;
    --color-2: #E7A069;
    --color-3: #183147;
    --color-4: #246F8E;
    --color-5: #FF6D02;
    --color-6: #E06D25;
}